.ipynb_checkpoints/
Neural Networks and Deep Learning/.ipynb_checkpoints/
Neural Networks and Deep Learning/NaturalLanguageProcessingWithPython.pdf
Improving Deep Neural networks , Hyperparameter tuning, Regularization and Optimisation/.ipynb_checkpoints/
